/* Everything */

/* Top Banner Menu */
 
/* Both Middle */

div.footerspace{
    background-color: #341C74;
    display: flex;
    justify-content: center;
    height: 75%;
}

main h1{
    line-height: 3em;
}

/* Middle Left Bio */
div.aboutme{
    max-width: 45%;
    line-height: 2em;
}

div.aboutme p{
max-width: 90%;

}

/* Middle Right Showcase */

div.break{
    max-width:100%;
    line-height: 2em;
}

div.bigpicture{
    max-width: 45%;
    line-height: 2em;
}

div.bigpicture img{
 max-width: 48%;
 border: 3px solid aliceblue;
}

/* Bottom Redirects */

div.mods, div.models, div.videos{
    border: 3px solid aliceblue;
    max-width: 30%;
    margin: 0 1%;
}

aside img{
    max-width: 100%;
    height: 100%;
}

aside{
    display: flex;
    justify-content: center;
    align-self:stretch;
    background-color: #341C74;
}


/* Footer */

/* Media Query */
@media screen and (min-width:650px) and (max-width:950px){
   div.bigpicture img{
    max-width: 100%;
}

main h1{
    font-size: 150%;
    line-height: 2.5em;
}

nav{
    display: flex;
    justify-content: center;
}

div.mods a img{
    max-width: 100%;
}
}

@media screen and (min-width:650px) and (max-width:950px){
div.bigpicture img{
    max-width: 100%;
}

main h1{
    font-size: 150%;
    line-height: 2.5em;
}

nav{
    display: flex;
    justify-content: center;
}

div.mods a img{
    max-width: 100%;
}

}