    /* Everything */

   body{
    height: 5%;
   }
   
   /* Top Banner Menu */
    

   /* Both Middle */

element.style{
    position: fixed;
}

   div.slideshow{
    max-width: 40%;
    border: 50px solid transparent;
   }

   div.cycle-slideshow{
    max-width: 100%;
   }

   div.slideshow img{
    max-width: 100%;
    border: 3px solid aliceblue;
   }
   
   div.sidetext{
    max-width: 40%;
    border: 10px solid transparent;
   }

   div.sidetext a{
    color:hotpink;
   }

   /* Footer */
   
   /*Media Query */

   @media screen and (max-width:800px){
    div.slideshow, div.sidetext{
        border: 5px solid transparent;
        
    }
   }